body{
	background-color:#FFFACD;
}

.flex {
  display: flex; /*横並び*/
}
.flex .image {
 
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.flex .text {
  margin: 0 0 0 20px;
  padding: 0;
}
p{
	
    font-size:30px;

	}
h1{
	 font-size:45px;
	 color: #326693;			/* 見出しテキストの色を指定する */
	padding-left:10px;		/* ボックス内左側の余白を指定する */
	border-left: 10px solid #31a9ee;	/* ボーダー左側のスタイルを指定する */
  	border-bottom: 1px dashed #31a9ee; 	/* ボーダー下部のスタイルを指定する */
}
